solutions/mytestsoln/src/Workflows/SubmitUserData-8839EA06-F0BC-EB11-8236-000D3A5BF14A.json
{"properties":{"connectionReferences":{"shared_tst-5fcreateuserandjob-5ffeb85c4c63870282":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"tst_sharedtst5fcreateuserandjob5ffeb85c4c63870282_b4cc7"},"api":{"name":"shared_tst-5fcreateuserandjob-5ff805fab2693f57dc","logicalName":"tst_5Fcreateuserandjob"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"CreateNameandJob_name":{"type":"string","description":"name","x-ms-powerflows-param-ispartial":false},"CreateNameandJob_job":{"type":"string","description":"job","x-ms-powerflows-param-ispartial":false}},"required":["CreateNameandJob_name","CreateNameandJob_job"]}}}},"actions":{"CreateNameandJob":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_tst-5fcreateuserandjob-5ffeb85c4c63870282","operationId":"CreateName","apiId":""},"parameters":{"body/name":"@triggerBody()['CreateNameandJob_name']","body/job":"@triggerBody()['CreateNameandJob_job']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"created":"@body('Parse_JSON')?['createdAt']","id":"@body('Parse_JSON')?['id']"},"schema":{"type":"object","properties":{"created":{"title":"Created","x-ms-dynamically-added":true,"type":"string"},"id":{"title":"id","x-ms-dynamically-added":true,"type":"string"}}}}},"Parse_JSON":{"runAfter":{"CreateNameandJob":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('CreateNameandJob')?['body']","schema":{"type":"object","properties":{"name":{"type":"string"},"job":{"type":"string"},"id":{"type":"string"},"createdAt":{"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}